coturn doesn't buffer data sent between tcp connection attempt and bind

According to [RFC6062 section 5.3](https://tools.ietf.org/html/rfc6062#section-5.3) on receiving a TCP Connection on a Relayed Transport Address the server MUST buffer any data received from the peer. Presumably, this should be sent to the client after the Connection Bind however this doesn't seem like the case. In my testing I've found that all data sent from the peer to the client before the Connection Bind seems to be thrown out. After the Connection Bind it works as expected and all data is received.

Example Scenario :
1) Peer connects to TCP Allocation with it's IP permission added and sends a message 'hello' as soon as it connects
2) Client gets the Connection Attempt with Connection ID and Peer address (but no 'hello' data included)
3) Client straight away on a new TCP connection to the server sends a Connection Bind with connection ID (takes less than 200ms)
4) Client receives the Connection Bind successful message (still no 'hello' data included)
5) The peer's original message is never sent to the client. If the peer sends a message now after the bind the clients get them all successfully as expected.

How do I get the original message? This is an issue as in many cases the initial message from the peer is a query and the peer just sits there waiting for an answer it never gets.

Many Thanks for the report!
Please send a Pull Request with the proposed changes and I will merge it.


I was wrong coturn does buffer the data and sends it in the TCP stream straight after the bind turn message. I missed it because I was accustomed to UDP datagrams coming in separately. 