`create_relay_connection` doesn't seem to return correct error code for `RESERVATION-TOKEN` failure

As per RFC 5766, [section 6.2](https://www.rfc-editor.org/rfc/rfc5766#section-6.2) point no. 5,
```
5.  The server checks if the request contains a RESERVATION-TOKEN
       attribute.  If yes, and the request also contains an EVEN-PORT
       attribute, then the server rejects the request with a 400 (Bad
       Request) error.  Otherwise, it checks to see if the token is
       valid (i.e., the token is in range and has not expired and the
       corresponding relayed transport address is still available).  If
       the token is not valid for some reason, the server rejects the
       request with a 508 (Insufficient Capacity) error.
```
https://github.com/coturn/coturn/blob/17e3b81a36237352ec3948f5fa1328825e95cf59/src/server/ns_turn_server.c#L4248

If I am not missing anything (quite new to the codebase), the error code should be 508.

@ggarber WDYT? Looks like this is a bug.