why show downgrade version with aptitude in ubuntu 16

	root@cloud:~/turnserver-4.5.0.7# aptitude show coturn
	Package: coturn
	State: not installed
	Version: 4.5.0.3-1build1
	Priority: extra
	Section: universe/net
	Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
	Architecture: amd64
	Uncompressed Size: 1,222 k
	Depends: libc6 (>= 2.15), libevent-core-2.0-5 (>= 2.0.10-stable),
			 libevent-extra-2.0-5 (>= 2.0.10-stable), libevent-openssl-2.0-5 (>=
			 2.0.10-stable), libevent-pthreads-2.0-5 (>= 2.0.10-stable),
			 libhiredis0.13 (>= 0.13.1), libmysqlclient20 (>= 5.7.11), libpq5 (>=
			 8.4~), libsqlite3-0 (>= 3.6.0), libssl1.0.0 (>= 1.0.2~beta3), adduser,
			 telnet | telnet-client
	Suggests: sip-router, xmpp-server
	Conflicts: rfc5766-turn-server, turnserver
	Provides: stun-server, turn-server
	Description: TURN and STUN server for VoIP
	 STUN (Session Traversal Utilities for NAT) and TURN (Traversal Using Relays
	 around NAT) are protocols that can be used to provide NAT traversal for VoIP
	 and WebRTC. This package provides a VoIP media traffic NAT traversal server and
	 gateway.

	 Supported RFCs: TURN specs:
	 * RFC 5766 - base TURN specs;
	 * RFC 6062 - TCP relaying TURN extension;
	 * RFC 6156 - IPv6 extension for TURN;
	 * RFC 7635 - OAuth third-party TURN/STUN authorization;
	 * DTLS support as client protocol
	   http://tools.ietf.org/html/draft-petithuguenin-tram-turn-dtls-00
	 * Mobile ICE (MICE) support
	   http://tools.ietf.org/html/draft-wing-tram-turn-mobility-03
	 * TURN ORIGIN specs for multi-tenant servers
	   http://tools.ietf.org/html/draft-johnston-tram-stun-origin-02
	 * TURN Bandwidth draft specs
	   http://tools.ietf.org/html/draft-thomson-tram-turn-bandwidth-00
	 * SSODA (dual allocation) draft specs
	   http://tools.ietf.org/html/draft-martinsen-tram-ssoda-00

	 STUN specs:
	 * RFC 3489 - obsolete "classic" STUN specs;
	 * RFC 5389 - base "new" STUN specs;
	 * RFC 5769 - test vectors for STUN protocol testing;
	 * RFC 5780 - NAT behavior discovery support.

	 The implementation fully supports UDP, TCP, TLS, and DTLS as protocols between
	 the TURN client and the TURN server. Both UDP and TCP relaying are supported.

	 SQLite, MySQL, PostgreSQL and Redis are supported for the user repository (if
	 authentication is required). The long-term credentials mechanism is supported.
	 For WebRTC applications, the TURN server REST API for time-limited secret-based
	 authentication is implemented. The third-party authentication specs
	 (OAuth-based) are supported, too.

	 Load balancing can be implemented either by DNS round-robin mechanism, or with
	 the external networking tools, or by the built-in ALTERNATE-SERVER mechanism.

	 The implementation is intended to be simple to install and configure. The
	 project focuses on performance, scalability, and simplicity. The aim is to
	 provide an enterprise-grade TURN solution.
	Homepage: https://github.com/coturn/coturn/

show this version Version: 4.5.0.3-1build1

but i install latest version, why?

How did you install. 
See output of :
```
apt-cache policy coturn
```

	root@cloud:/home/felipe# apt-cache policy coturn
	coturn:
	  Installed: (none)
	  Candidate: 4.5.0.3-1build1
	  Version table:
		 4.5.0.3-1build1 500
			500 http://mirrors.digitalocean.com/ubuntu xenial/universe amd64 Packages

its fine?