Client Can not receive package use udp?tcp is ok

I build coturn with cygwin,and run in windows,and in intranet,not internat.
It is ok when i use tcp.
All package is lost when i use udp.

run serer: turnserver -a -v -r jqtx.com -L 192.168.1.8 --no-stun
config:
fingerprint
lt-cred-mech
user=jqtx:j123
realm=jqtx

client cmd: turnutils_uclient -v -u jqtx -w j123 192.168.1.8

log:
0: log file opened: turn_3964_2018-05-12.log
0: 
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.8 'dan Eider'
0: 
Max number of open files/sockets allowed for this process: 3200
0: 
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 1000 (approximately)
0: 

==== Show him the instruments, Practical Frost: ====

0: TLS supported
0: DTLS supported
0: DTLS 1.2 supported
0: TURN/STUN ALPN supported
0: Third-party authorization (oAuth) supported
0: GCM (AEAD) supported
0: OpenSSL compile-time version: OpenSSL 1.0.2o  27 Mar 2018 (0x100020ff)
0: 
0: SQLite is not supported
0: Redis is not supported
0: PostgreSQL is not supported
0: MySQL is not supported
0: MongoDB is not supported
0: 
0: Default Net Engine version: 2 (UDP thread per network endpoint)

=====================================================

0: Config file found: /IceServer/turnserver.conf
0: Listener address to use: 192.168.1.8
0: Config file found: /IceServer/turnserver.conf
0: Domain name: 
0: Default realm: jqtx.com
0: WARNING: cannot find certificate file: turn_server_cert.pem (1)
0: WARNING: cannot start TLS and DTLS listeners because certificate file is not set properly
0: WARNING: cannot find private key file: turn_server_pkey.pem (1)
0: WARNING: cannot start TLS and DTLS listeners because private key file is not set properly
0: Relay address to use: 192.168.1.8
0: Cannot create pid file: /var/run/turnserver.pid
0: pid file created: turnserver.pid
0: IO method (main listener thread): poll
0: IPv4: On this platform, I am using alternative behavior of TTL according to RFC 5766.
0: IPv6: On this platform, I am using alternative behavior of TTL (HOPLIMIT) according to RFC 6156.
0: IPv4: On this platform, I am using alternative behavior of TOS according to RFC 5766.
0: WARNING: I cannot support STUN CHANGE_REQUEST functionality because only one IP address is provided
0: Wait for relay ports initialization...
0:   relay 192.168.1.8 initialization...
0:   relay 192.168.1.8 initialization done
0: Relay ports initialization done
0: IO method (general relay thread): poll
0: turn server id=0 created
0: IO method (general relay thread): poll
0: IO method (udp listener/relay thread): poll
0: turn server id=1 created
0: turn server id=128 created
0: IPv4. UDP listener opened on: 192.168.1.8:3478
0: IPv4. TCP listener opened on : 192.168.1.8:3478
0: Total UDP servers: 1
0: Total General servers: 2
0: IO method (auth thread): poll
0: IO method (auth thread): poll
0: IO method (admin thread): poll
0: IPv4. CLI listener opened on : 127.0.0.1:5766
17: handle_udp_packet: New UDP endpoint: local addr 192.168.1.8:3478, remote addr 192.168.1.5:51477
17: session 128000000000000001: realm <jqtx.com> user <>: incoming packet message processed, error 401: Unauthorized
17: IPv4. Local relay addr: 192.168.1.8:60552
17: IPv4. Local reserved relay addr: 192.168.1.8:60553
17: session 128000000000000001: new, realm=<jqtx.com>, username=<jqtx>, lifetime=777
17: session 128000000000000001: realm <jqtx.com> user <jqtx>: incoming packet ALLOCATE processed, success
18: session 128000000000000001: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=777
18: session 128000000000000001: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
18: handle_udp_packet: New UDP endpoint: local addr 192.168.1.8:3478, remote addr 192.168.1.5:51478
18: session 128000000000000002: realm <jqtx.com> user <>: incoming packet message processed, error 401: Unauthorized
18: IPv4. Local relay addr (RTCP): 192.168.1.8:60553
18: session 128000000000000002: new, realm=<jqtx.com>, username=<jqtx>, lifetime=777
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet ALLOCATE processed, success
18: session 128000000000000002: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=777
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
18: handle_udp_packet: New UDP endpoint: local addr 192.168.1.8:3478, remote addr 192.168.1.5:51479
18: session 128000000000000003: realm <jqtx.com> user <>: incoming packet message processed, error 401: Unauthorized
18: IPv4. Local relay addr: 192.168.1.8:55088
18: IPv4. Local reserved relay addr: 192.168.1.8:55089
18: session 128000000000000003: new, realm=<jqtx.com>, username=<jqtx>, lifetime=777
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet ALLOCATE processed, success
18: session 128000000000000003: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=777
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000003: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000002: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 300
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CREATE_PERMISSION processed, success
18: session 128000000000000002: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
18: session 128000000000000003: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=600
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
18: session 128000000000000003: peer 0.0.0.0:3481 lifetime updated: 300
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet CREATE_PERMISSION processed, success
18: session 128000000000000003: peer 0.0.0.0:3481 lifetime updated: 600
18: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet CHANNEL_BIND processed, success
20: send_data_from_ioa_socket_nbh: network error: address unreachable from 192.168.1.8:55088 to 0.0.0.0:3481
21: send_data_from_ioa_socket_nbh: network error: address unreachable from 192.168.1.8:60553 to 0.0.0.0:3480
30: session 128000000000000003: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=0
30: session 128000000000000003: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
31: session 128000000000000002: refreshed, realm=<jqtx.com>, username=<jqtx>, lifetime=0
31: session 128000000000000002: realm <jqtx.com> user <jqtx>: incoming packet REFRESH processed, success
78: session 128000000000000002: usage: realm=<jqtx.com>, username=<jqtx>, rp=16, rb=1660, sp=11, sb=744
78: session 128000000000000002: closed (2nd stage), user <jqtx> realm <jqtx.com> origin <>, local 192.168.1.8:3478, remote 192.168.1.5:51478, reason: allocation watchdog determined stale session state
78: session 128000000000000002: delete: realm=<jqtx.com>, username=<jqtx>
78: session 128000000000000002: peer 0.0.0.0:3481 deleted
78: session 128000000000000003: usage: realm=<jqtx.com>, username=<jqtx>, rp=13, rb=1332, sp=8, sb=576
78: session 128000000000000003: closed (2nd stage), user <jqtx> realm <jqtx.com> origin <>, local 192.168.1.8:3478, remote 192.168.1.5:51479, reason: allocation watchdog determined stale session state
78: session 128000000000000003: delete: realm=<jqtx.com>, username=<jqtx>
78: session 128000000000000003: peer 0.0.0.0:3481 deleted
795: session 128000000000000001: usage: realm=<jqtx.com>, username=<jqtx>, rp=3, rb=284, sp=3, sb=260
795: session 128000000000000001: closed (2nd stage), user <jqtx> realm <jqtx.com> origin <>, local 192.168.1.8:3478, remote 192.168.1.5:51477, reason: allocation timeout
795: session 128000000000000001: delete: realm=<jqtx.com>, username=<jqtx>


Unfortunately I don't have a cygwin+coTURN setup. 

It is not clear which side is the UDP is not working 
* UDP on Client<=> Server side 
or on the 
* Server <=> Peer side?

It seems from the log that it listens on UDP and received on UDP.
The client after sucessful allocation start a new allocation...

Could you check it or send packet dump from both side?
Thanks!

@misi I noticed ICE state in Chrome using `chrome://webrtc-internals` it is weird. 
For some time, it keeps logging like:

Hi It is off topic here not related to coTURN
Read more about webrtc ice connection states here: 
* https://w3c.github.io/webrtc-pc/#rtcpeerconnectionstate-enum
* https://w3c.github.io/webrtc-pc/#rtcpeerconnectionstate-enum

Please investigate your issue more and reopen a new issue with full  details. Or reopen this issue or new if any open question left

Max number of open files/sockets allowed for this process: 3200

Is there a way to increase maximum number of allowed socket or is it dependent on configuration of system.

Any help related to windows will be very helpful.