IPv6 allocation instead of IPv4

When on an IPV6-only network, coturn is allocating an IPv6 relay. However, according to section 4.2 of RFC 6156:

> If the REQUESTED-ADDRESS-FAMILY attribute is absent, the server MUST
> allocate an IPv4-relayed transport address for the TURN client. If
> allocation of IPv4 addresses is disabled by local policy, the server
> returns a 440 (Address Family not Supported) Allocate error response.
> 

 
This is verified on latest coturn revision, and confirmed that the STUN ALLOCATE request only contains REQUESTED-TRANSPORT, USERNAME, REALM, NONCE attributes.

see config 
# If no relay IP(s) specified, then the turnserver will apply the default
# policy: it will decide itself which relay addresses to be used, and it 
# will always be using the client socket IP address as the relay IP address
# of the TURN session (if the requested relay address family is the same
# as the family of the client socket).

So if you want to behave according RFC 6156 use explicit relay IP.