always allocation timeout when connect to turn ( webrtc )

i try to make my webrtc work across different network, so i use turn server, but everytime i try to connect, the log always showing this, and my video just blank black screen,

here is my log:

23: session 003000000000000001: refreshed, username=<user>, lifetime=0
23: session 003000000000000001: user <user>: incoming packet REFRESH processed, success
23: session 003000000000000001: TCP socket closed remotely 192.168.43.187:59442
23: session 003000000000000001: closed (2nd stage), user <user>, local 192.168.43.187:3478, remote 192.168.43.187:59442, reason: TCP connection closed by client (callback)
23: session 001000000000000001: peer 192.168.123.26 lifetime updated: 300
23: session 001000000000000001: user <user>: incoming packet CREATE_PERMISSION processed, success
23: handle_turn_command: STUN method 0x1 ignored
24: session 128000000000000004: closed (2nd stage), user <user>, local 192.168.43.187:3478, remote 192.168.43.187:62884, reason: allocation timeout
24: session 128000000000000003: closed (2nd stage), user <user>, local 192.168.43.187:3478, remote 192.168.43.187:62883, reason: allocation timeout
25: handle_turn_command: STUN method 0x1 ignored
29: session 128000000000000002: refreshed, username=<user>, lifetime=0
29: session 128000000000000002: user <user>: incoming packet REFRESH processed, success
29: session 001000000000000001: refreshed, username=<user>, lifetime=0
29: session 001000000000000001: user <user>: incoming packet REFRESH processed, success
29: session 001000000000000001: TCP socket closed remotely 192.168.43.187:59440
29: session 001000000000000001: closed (2nd stage), user <user>, local 192.168.43.187:3478, remote 192.168.43.187:59440, reason: TCP connection closed by client (callback)
29: session 001000000000000001: peer 192.168.123.26 deleted
30: session 128000000000000002: closed (2nd stage), user <user>, local 192.168.43.187:3478, remote 192.168.43.187:62882, reason: allocation timeout
30: session 128000000000000002: peer 192.168.123.26 deleted



Check your browser logs to understand more your issue!
https://misi.github.io/webrtc-c0d3l4b/#30
From the logs it seems it close the TURN client session
`refreshed, username=, lifetime=0`
And we need more info about os, coturn version and config and your setup to help..




im running it via cygwin, im using rfc5766-turn-server-3.2.5.9, here is my configuration :

listening-port=3478
tls-listening-port=5349
alt-listening-port=3479
alt-tls-listening-port=5350
listening-ip=192.168.43.187 ( not public ip )
external-ip=114.124.146.172/192.168.43.187 ( myPublicIp/myLocalIp )
min-port=49152
max-port=65535
verbose
fingerprint
lt-cred-mech
user=myusername:mypassword
realm=turn.myRealm.com
no-stun
no-tlsv1
no-tlsv1_1

and here's my webrtc conf:

connection.iceServers.push({
  urls: 'stun:stun.l.google.com:19302'
});

connection.iceServers.push({
  urls       : [
    'turn:myIp:3478?transport=udp', ( not public ip )
    'turn:myIp:3478?transport=tcp' ( not public ip )
  ],
    credential : 'myPassword',
    username   : 'myUsername',
});

im new to TURN and webrtc, so i confuse should i set listener-ip on config equal to my local ip or my public ip?


use the latest cotrun version please. Cygwin is ok for testing but AFAIK not for production. 
Please consider to run on a server machine with Linux or BSD etc.
Try to set in external-ip config only  your global ip. 
`external-ip=114.124.146.172`


If your clients are only in your private network then  the listener-ip  is your pirvate IP.

If they are sometimes in-house but could also come  from the internet then use both or even better leave it unconfigured, and then it will listen on all IPs of the TURN server.

so what should I do to connect my webrtc to turn server, its there any special things that need to be configured?

i've change to latest turnserver, and i get this log :

$ turnserver -v
0: log file opened: /var/log/turn_256_2019-05-23.log
0:
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.6 'dan Eider'
0:
Max number of open files/sockets allowed for this process: 3200
0:
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 1000 (approximately)
0:

==== Show him the instruments, Practical Frost: ====

0: TLS is not supported
0: DTLS supported
0: DTLS 1.2 supported
0: TURN/STUN ALPN supported
0: Third-party authorization (oAuth) supported
0: GCM (AEAD) supported
0: OpenSSL compile-time version: OpenSSL 1.0.2r  26 Feb 2019 (0x1000212f)
0:
0: SQLite is not supported
0: Redis is not supported
0: PostgreSQL is not supported
0: MySQL is not supported
0: MongoDB is not supported
0:
0: Default Net Engine version: 2 (UDP thread per network endpoint)

=====================================================

0: Config file found: /usr/local/etc/turnserver.conf
0: WARNING: Options -b, --userdb and --db are not supported because SQLite is not supported in this build.
0: Config file found: /usr/local/etc/turnserver.conf
0: Domain name:
0: Default realm: mycompany.org
0: DTLS1.2: Certificate file found: /usr/local/etc/turn_server_cert.pem
0: DTLS1.2: Private key file found: /usr/local/etc/turn_server_pkey.pem
0: DTLS: Certificate file found: /usr/local/etc/turn_server_cert.pem
0: DTLS: Private key file found: /usr/local/etc/turn_server_pkey.pem
0: DTLS cipher suite: DEFAULT
0: NO EXPLICIT LISTENER ADDRESS(ES) ARE CONFIGURED
0: ===========Discovering listener addresses: =========
0: Listener address to use: 192.168.43.187
0: Listener address to use: ::1
0: Listener address to use: 127.0.0.1
0: =====================================================
0: Total: 1 'real' addresses discovered
0: =====================================================
0: NO EXPLICIT RELAY ADDRESS(ES) ARE CONFIGURED
0: ===========Discovering relay addresses: =============
0: Relay address to use: 192.168.43.187
0: Relay address to use: ::1
0: =====================================================
0: Total: 2 relay addresses discovered
0: =====================================================
0: pid file created: /var/run/turnserver.pid
0: IO method (main listener thread): poll
0: IPv4: On this platform, I am using alternative behavior of TTL according to RFC 5766.
0: IPv6: On this platform, I am using alternative behavior of TTL (HOPLIMIT) according to RFC 6156.
0: IPv4: On this platform, I am using alternative behavior of TOS according to RFC 5766.
0: Wait for relay ports initialization...
0:   relay 192.168.43.187 initialization...
0:   relay 192.168.43.187 initialization done
0:   relay ::1 initialization...
0:   relay ::1 initialization done
0: Relay ports initialization done
0: IO method (general relay thread): poll
0: turn server id=0 created
0: IO method (general relay thread): poll
0: turn server id=1 created
0: IO method (general relay thread): poll
0: turn server id=2 created
0: IO method (udp listener/relay thread): poll
0: IO method (general relay thread): poll
0: turn server id=3 created
0: turn server id=128 created
0: IO method (udp listener/relay thread): poll
0: turn server id=129 created
0: IO method (udp listener/relay thread): poll
0: turn server id=130 created
0: IO method (udp listener/relay thread): poll
0: turn server id=131 created
0: IO method (udp listener/relay thread): poll
0: turn server id=132 created
0: IO method (udp listener/relay thread): poll
0: turn server id=133 created
0: IO method (udp listener/relay thread): poll
1: turn server id=134 created
1: IO method (udp listener/relay thread): poll
1: turn server id=135 created
1: IO method (udp listener/relay thread): poll
1: turn server id=136 created
1: IO method (udp listener/relay thread): poll
1: turn server id=137 created
1: IO method (udp listener/relay thread): poll
1: turn server id=138 created
1: IO method (udp listener/relay thread): poll
1: turn server id=139 created
1: IPv4. DTLS/UDP listener opened on: 192.168.43.187:3478
1: IPv4. DTLS/UDP listener opened on: 192.168.43.187:3479
1: IPv4. DTLS/UDP listener opened on: 192.168.43.187:5349
1: IPv4. DTLS/UDP listener opened on: 192.168.43.187:5350
get TCLASS on socket: Protocol not available
1: IPv6. DTLS/UDP listener opened on: ::1:3478
get TCLASS on socket: Protocol not available
1: IPv6. DTLS/UDP listener opened on: ::1:3479
get TCLASS on socket: Protocol not available
1: IPv6. DTLS/UDP listener opened on: ::1:5349
get TCLASS on socket: Protocol not available
1: IPv6. DTLS/UDP listener opened on: ::1:5350
1: IPv4. DTLS/UDP listener opened on: 127.0.0.1:3478
1: IPv4. DTLS/UDP listener opened on: 127.0.0.1:3479
1: IPv4. DTLS/UDP listener opened on: 127.0.0.1:5349
1: IPv4. DTLS/UDP listener opened on: 127.0.0.1:5350
1: IPv4. TCP listener opened on : 192.168.43.187:3478
1: IPv4. TCP listener opened on : 192.168.43.187:3479
1: IPv6. TCP listener opened on : ::1:3478
1: IPv6. TCP listener opened on : ::1:3479
1: IPv4. TCP listener opened on : 127.0.0.1:3478
1: IPv4. TCP listener opened on : 127.0.0.1:3479
1: Total UDP servers: 12
1: Total General servers: 4
1: IO method (auth thread): poll
1: IO method (auth thread): poll
1: IO method (admin thread): poll
1: IPv4. CLI listener opened on : 127.0.0.1:5766
268: handle_udp_packet: New UDP endpoint: local addr 192.168.43.187:3478, remote addr 192.168.43.187:57193
268: session 128000000000000001: realm <mycompany.org> user <>: incoming packet BINDING processed, success
268: handle_udp_packet: New UDP endpoint: local addr 192.168.43.187:3478, remote addr 192.168.43.187:57194
268: session 128000000000000002: realm <mycompany.org> user <>: incoming packet BINDING processed, success
268: handle_udp_packet: New UDP endpoint: local addr 192.168.43.187:3478, remote addr 192.168.43.187:57195
268: session 128000000000000003: realm <mycompany.org> user <>: incoming packet BINDING processed, success
268: IPv4. tcp or tls connected to: 192.168.43.187:51047
268: IPv4. tcp or tls connected to: 192.168.43.187:51048
268: IPv4. tcp or tls connected to: 192.168.43.187:51049
268: session 002000000000000001: realm <mycompany.org> user <>: incoming packet message processed, error 401: Unauthorized
268: session 001000000000000001: realm <mycompany.org> user <>: incoming packet message processed, error 401: Unauthorized
268: session 003000000000000001: realm <mycompany.org> user <>: incoming packet message processed, error 401: Unauthorized
268: IPv4. Local relay addr: 192.168.43.187:61055
268: IPv4. Local relay addr: 192.168.43.187:58117
268: session 003000000000000001: new, realm=<mycompany.org>, username=<myusername>, lifetime=600
268: session 002000000000000001: new, realm=<mycompany.org>, username=<myusername>, lifetime=600
268: session 003000000000000001: realm <mycompany.org> user <myusername>: incoming packet ALLOCATE processed, success
268: session 002000000000000001: realm <mycompany.org> user <myusername>: incoming packet ALLOCATE processed, success
268: IPv4. Local relay addr: 192.168.43.187:61279
268: session 001000000000000001: new, realm=<mycompany.org>, username=<myusername>, lifetime=600
268: session 001000000000000001: realm <mycompany.org> user <myusername>: incoming packet ALLOCATE processed, success
270: session 002000000000000001: refreshed, realm=<mycompany.org>, username=<myusername>, lifetime=0
270: session 001000000000000001: refreshed, realm=<mycompany.org>, username=<myusername>, lifetime=0
270: session 002000000000000001: realm <mycompany.org> user <myusername>: incoming packet REFRESH processed, success
270: session 001000000000000001: realm <mycompany.org> user <myusername>: incoming packet REFRESH processed, success
270: session 002000000000000001: TCP socket closed remotely 192.168.43.187:51048
270: session 002000000000000001: closed (2nd stage), user <myusername> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:51048, reason: TCP connection closed by client (callback)
270: session 001000000000000001: TCP socket closed remotely 192.168.43.187:51047
270: session 001000000000000001: closed (2nd stage), user <myusername> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:51047, reason: TCP connection closed by client (callback)
270: session 002000000000000001: delete: realm=<mycompany.org>, username=<myusername>
270: session 001000000000000001: delete: realm=<mycompany.org>, username=<myusername>
270: session 003000000000000001: peer 192.168.123.26 lifetime updated: 300
270: session 003000000000000001: realm <mycompany.org> user <myusername>: incoming packet CREATE_PERMISSION processed, success
270: session 003000000000000001: peer 36.80.81.16 lifetime updated: 300
270: session 003000000000000001: realm <mycompany.org> user <myusername>: incoming packet CREATE_PERMISSION processed, success
278: session 128000000000000001: realm <mycompany.org> user <>: incoming packet BINDING processed, success
285: session 003000000000000001: refreshed, realm=<mycompany.org>, username=<myusername>, lifetime=0
285: session 003000000000000001: realm <mycompany.org> user <myusername>: incoming packet REFRESH processed, success
285: session 003000000000000001: TCP socket closed remotely 192.168.43.187:51049
285: session 003000000000000001: closed (2nd stage), user <myusername> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:51049, reason: TCP connection closed by client (callback)
285: session 003000000000000001: delete: realm=<mycompany.org>, username=<myusername>
285: session 003000000000000001: peer 192.168.123.26 deleted
285: session 003000000000000001: peer 36.80.81.16 deleted
328: session 128000000000000001: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:57193, reason: allocation watchdog determined stale session state
328: session 128000000000000002: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:57194, reason: allocation watchdog determined stale session state
328: session 128000000000000003: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:57195, reason: allocation watchdog determined stale session state


also i've got this error :

43: session 001000000000000001: TCP socket closed remotely 192.168.123.35:53215
43: session 001000000000000001: closed (2nd stage), user <myusername> realm <dp669.com> origin <>, local 192.168.123.35:3478, remote 192.168.123.35:53215, reason: TCP connection closed by client (callback)
43: session 001000000000000001: delete: realm=<dp669.com>, username=<myusername>
43: session 001000000000000001: peer 10.199.143.5 deleted
44: session 128000000000000001: closed (2nd stage), user <myusername> realm <dp669.com> origin <>, local 192.168.123.35:3478, remote 192.168.123.35:57011, reason: allocation timeout
44: session 128000000000000001: delete: realm=<dp669.com>, username=<myusername>
44: session 128000000000000001: peer 10.199.143.5 deleted


and this is my port list, is there anything wrong here?

Active Connections

  Proto  Local Address          Foreign Address        State
  TCP    0.0.0.0:135            DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:445            DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:5040           DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:6646           DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:7680           DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49664          DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49665          DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49666          DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49667          DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49668          DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:49669          DESKTOP-UUFDIDC:0      LISTENING
  TCP    127.0.0.1:3478         DESKTOP-UUFDIDC:0      LISTENING
  TCP    127.0.0.1:5354         DESKTOP-UUFDIDC:0      LISTENING
  TCP    127.0.0.1:27275        DESKTOP-UUFDIDC:0      LISTENING
  TCP    127.0.0.1:50033        DESKTOP-UUFDIDC:50034  ESTABLISHED
  TCP    127.0.0.1:50034        DESKTOP-UUFDIDC:50033  ESTABLISHED
  TCP    127.0.0.1:50035        DESKTOP-UUFDIDC:50036  ESTABLISHED
  TCP    127.0.0.1:50036        DESKTOP-UUFDIDC:50035  ESTABLISHED
  TCP    127.0.0.1:50037        DESKTOP-UUFDIDC:50038  ESTABLISHED
  TCP    127.0.0.1:50038        DESKTOP-UUFDIDC:50037  ESTABLISHED
  TCP    127.0.0.1:50039        DESKTOP-UUFDIDC:50040  ESTABLISHED
  TCP    127.0.0.1:50040        DESKTOP-UUFDIDC:50039  ESTABLISHED
  TCP    127.0.0.1:50041        DESKTOP-UUFDIDC:50042  ESTABLISHED
  TCP    127.0.0.1:50042        DESKTOP-UUFDIDC:50041  ESTABLISHED
  TCP    127.0.0.1:50043        DESKTOP-UUFDIDC:50044  ESTABLISHED
  TCP    127.0.0.1:50044        DESKTOP-UUFDIDC:50043  ESTABLISHED
  TCP    127.0.0.1:50045        DESKTOP-UUFDIDC:50046  ESTABLISHED
  TCP    127.0.0.1:50046        DESKTOP-UUFDIDC:50045  ESTABLISHED
  TCP    127.0.0.1:50047        DESKTOP-UUFDIDC:50048  ESTABLISHED
  TCP    127.0.0.1:50048        DESKTOP-UUFDIDC:50047  ESTABLISHED
  TCP    127.0.0.1:50049        DESKTOP-UUFDIDC:50050  ESTABLISHED
  TCP    127.0.0.1:50050        DESKTOP-UUFDIDC:50049  ESTABLISHED
  TCP    127.0.0.1:50051        DESKTOP-UUFDIDC:50052  ESTABLISHED
  TCP    127.0.0.1:50052        DESKTOP-UUFDIDC:50051  ESTABLISHED
  TCP    127.0.0.1:50053        DESKTOP-UUFDIDC:50054  ESTABLISHED
  TCP    127.0.0.1:50054        DESKTOP-UUFDIDC:50053  ESTABLISHED
  TCP    127.0.0.1:50055        DESKTOP-UUFDIDC:50056  ESTABLISHED
  TCP    127.0.0.1:50056        DESKTOP-UUFDIDC:50055  ESTABLISHED
  TCP    127.0.0.1:50057        DESKTOP-UUFDIDC:50058  ESTABLISHED
  TCP    127.0.0.1:50058        DESKTOP-UUFDIDC:50057  ESTABLISHED
  TCP    127.0.0.1:50059        DESKTOP-UUFDIDC:50060  ESTABLISHED
  TCP    127.0.0.1:50060        DESKTOP-UUFDIDC:50059  ESTABLISHED
  TCP    192.168.123.35:139     DESKTOP-UUFDIDC:0      LISTENING
  TCP    192.168.123.35:3478    DESKTOP-UUFDIDC:0      LISTENING
  TCP    192.168.123.35:49679   DESKTOP-UUFDIDC:0      LISTENING
  TCP    192.168.123.35:49700   179:https              ESTABLISHED
  TCP    192.168.123.35:49701   23:https               ESTABLISHED
  TCP    192.168.123.35:49821   172.217.194.188:5228   ESTABLISHED
  TCP    192.168.123.35:49869   217:https              ESTABLISHED
  TCP    192.168.123.35:49872   153:https              ESTABLISHED
  TCP    192.168.123.35:49875   153:https              ESTABLISHED
  TCP    192.168.123.35:49906   server-13-35-21-158:https  ESTABLISHED
  TCP    192.168.123.35:49908   106:https              ESTABLISHED
  TCP    192.168.123.35:49912   ec2-13-251-99-200:https  ESTABLISHED
  TCP    192.168.123.35:50082   133:https              ESTABLISHED
  TCP    192.168.123.35:50084   133:https              ESTABLISHED
  TCP    192.168.123.35:50085   172.217.194.95:https   ESTABLISHED
  TCP    192.168.123.35:50092   133:https              ESTABLISHED
  TCP    192.168.123.35:50093   133:https              ESTABLISHED
  TCP    192.168.123.35:50097   lb-192-30-253-125-iad:https  ESTABLISHED
  TCP    192.168.123.35:50098   133:https              ESTABLISHED
  TCP    192.168.123.35:50099   133:https              ESTABLISHED
  TCP    192.168.123.35:50101   133:https              ESTABLISHED
  TCP    192.168.123.35:50119   20:https               ESTABLISHED
  TCP    192.168.123.35:50121   ec2-52-74-164-159:https  TIME_WAIT
  TCP    192.168.123.35:50122   85:https               ESTABLISHED
  TCP    192.168.123.35:50123   ec2-35-175-30-164:https  ESTABLISHED
  TCP    192.168.123.35:50124   41:http                TIME_WAIT
  TCP    192.168.123.35:50125   a-0001:https           ESTABLISHED
  TCP    192.168.123.35:50126   a-0001:https           ESTABLISHED
  TCP    192.168.123.35:50127   bingforbusiness:https  ESTABLISHED
  TCP    192.168.123.35:50128   a-0001:https           ESTABLISHED
  TCP    192.168.123.35:50129   a-0001:https           ESTABLISHED
  TCP    192.168.123.35:50130   11:http                TIME_WAIT
  TCP    192.168.123.35:50131   254:https              ESTABLISHED
  TCP    192.168.123.35:50132   a104-93-109-44:https   CLOSE_WAIT
  TCP    192.168.123.35:50133   254:https              ESTABLISHED
  TCP    192.168.123.35:50134   222:https              ESTABLISHED
  TCP    192.168.123.35:50137   sea03-014:http         ESTABLISHED
  TCP    192.168.123.35:50138   101:http               ESTABLISHED
  TCP    192.168.123.35:50141   sin11s01-in-f14:https  ESTABLISHED
  TCP    192.168.123.35:50142   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50143   101:http               ESTABLISHED
  TCP    192.168.123.35:50144   104.20.21.239:http     ESTABLISHED
  TCP    192.168.123.35:50146   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50147   104.27.177.19:http     TIME_WAIT
  TCP    192.168.123.35:50148   104.27.176.19:http     ESTABLISHED
  TCP    192.168.123.35:50149   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50150   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50151   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50152   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50153   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50154   sin11s02-in-f2:http    ESTABLISHED
  TCP    192.168.123.35:50155   95:http                ESTABLISHED
  TCP    192.168.123.35:50156   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50157   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50158   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50159   104.27.177.19:http     ESTABLISHED
  TCP    192.168.123.35:50160   s3-1-w:http            TIME_WAIT
  TCP    192.168.123.35:50161   s3-1-w:http            ESTABLISHED
  TCP    192.168.123.35:50162   104.16.163.13:http     ESTABLISHED
  TCP    192.168.123.35:50163   ec2-35-155-165-208:http  ESTABLISHED
  TCP    192.168.123.35:50164   ec2-35-155-165-208:http  ESTABLISHED
  TCP    192.168.123.35:50165   172.217.194.101:https  ESTABLISHED
  TCP    192.168.123.35:50169   ec2-18-237-163-192:https  ESTABLISHED
  TCP    192.168.123.35:50171   172.217.194.95:https   ESTABLISHED
  TCP    192.168.123.35:50172   ec2-18-237-163-192:https  ESTABLISHED
  TCP    192.168.123.35:50177   249:https              ESTABLISHED
  TCP    192.168.123.35:50178   sc-in-f156:https       ESTABLISHED
  TCP    192.168.123.35:50179   2:https                ESTABLISHED
  TCP    192.168.123.35:50180   sa-in-f97:https        ESTABLISHED
  TCP    192.168.123.35:50181   156:https              ESTABLISHED
  TCP    192.168.123.35:50182   a104-93-199-51:https   ESTABLISHED
  TCP    192.168.123.35:50183   a104-93-199-51:https   ESTABLISHED
  TCP    192.168.123.35:50184   a104-93-199-51:https   ESTABLISHED
  TCP    192.168.123.35:50185   a104-93-199-51:https   ESTABLISHED
  TCP    192.168.123.35:50186   a104-93-199-51:https   ESTABLISHED
  TCP    192.168.123.35:50187   200:https              ESTABLISHED
  TCP    192.168.123.35:50190   175:https              ESTABLISHED
  TCP    192.168.123.35:50191   sc-in-f102:https       ESTABLISHED
  TCP    192.168.123.35:50192   ec2-54-214-23-46:https  ESTABLISHED
  TCP    192.168.123.35:50194   a104-93-89-199:https   ESTABLISHED
  TCP    192.168.123.35:50195   175:https              ESTABLISHED
  TCP    192.168.123.35:50196   ec2-13-250-85-212:https  ESTABLISHED
  TCP    192.168.123.35:50197   sa-in-f100:https       ESTABLISHED
  TCP    192.168.123.35:50198   175:https              ESTABLISHED
  TCP    192.168.123.35:50199   114:https              ESTABLISHED
  TCP    192.168.123.35:50200   ec2-54-225-147-247:https  ESTABLISHED
  TCP    192.168.123.35:50201   49:https               ESTABLISHED
  TCP    192.168.123.35:50204   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50206   a104-93-109-252:https  ESTABLISHED
  TCP    192.168.123.35:50207   ec2-54-255-159-222:https  ESTABLISHED
  TCP    192.168.123.35:50208   ec2-54-249-37-20:https  ESTABLISHED
  TCP    192.168.123.35:50209   unknown:https          ESTABLISHED
  TCP    192.168.123.35:50211   104.16.15.243:https    ESTABLISHED
  TCP    192.168.123.35:50212   ec2-18-182-241-248:https  ESTABLISHED
  TCP    192.168.123.35:50214   139:https              ESTABLISHED
  TCP    192.168.123.35:50215   sin11s02-in-f2:https   ESTABLISHED
  TCP    192.168.123.35:50216   sa-in-f132:https       ESTABLISHED
  TCP    192.168.123.35:50217   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50218   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50221   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50222   server-54-192-216-52:https  ESTABLISHED
  TCP    192.168.123.35:50228   ec2-52-78-77-51:https  ESTABLISHED
  TCP    192.168.123.35:50229   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50230   ec2-54-245-126-120:https  ESTABLISHED
  TCP    192.168.123.35:50231   151:https              ESTABLISHED
  TCP    192.168.123.35:50232   175:https              ESTABLISHED
  TCP    192.168.123.35:50233   ec2-13-229-169-155:https  ESTABLISHED
  TCP    192.168.123.35:50234   sin10s07-in-f3:https   ESTABLISHED
  TCP    192.168.123.35:50235   ec2-54-214-23-46:https  ESTABLISHED
  TCP    192.168.123.35:50236   server-54-192-216-52:https  ESTABLISHED
  TCP    192.168.123.35:50237   ord30s22-in-f14:https  ESTABLISHED
  TCP    192.168.123.35:50238   ord30s22-in-f14:https  ESTABLISHED
  TCP    [::]:135               DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:445               DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:7680              DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49664             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49665             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49666             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49667             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49668             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::]:49669             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::1]:3478             DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::1]:27275            DESKTOP-UUFDIDC:0      LISTENING
  TCP    [::1]:49825            DESKTOP-UUFDIDC:0      LISTENING
  UDP    0.0.0.0:500            *:*
  UDP    0.0.0.0:4500           *:*
  UDP    0.0.0.0:5050           *:*
  UDP    0.0.0.0:5353           *:*
  UDP    0.0.0.0:5353           *:*
  UDP    0.0.0.0:5353           *:*
  UDP    0.0.0.0:5355           *:*
  UDP    0.0.0.0:6646           *:*
  UDP    0.0.0.0:49664          *:*
  UDP    0.0.0.0:51035          *:*
  UDP    0.0.0.0:52286          *:*
  UDP    0.0.0.0:54171          *:*
  UDP    0.0.0.0:60243          *:*
  UDP    0.0.0.0:63273          *:*
  UDP    0.0.0.0:63320          *:*
  UDP    0.0.0.0:65323          *:*
  UDP    127.0.0.1:1900         *:*
  UDP    127.0.0.1:3478         *:*
  UDP    127.0.0.1:5349         *:*
  UDP    127.0.0.1:49666        *:*
  UDP    127.0.0.1:49693        *:*
  UDP    192.168.123.35:137     *:*
  UDP    192.168.123.35:138     *:*
  UDP    192.168.123.35:1900    *:*
  UDP    192.168.123.35:1900    *:*
  UDP    192.168.123.35:2177    *:*
  UDP    192.168.123.35:3478    *:*
  UDP    192.168.123.35:5349    *:*
  UDP    192.168.123.35:5353    *:*
  UDP    192.168.123.35:49692   *:*
  UDP    192.168.123.35:52913   *:*
  UDP    192.168.123.35:52914   *:*
  UDP    [::]:500               *:*
  UDP    [::]:4500              *:*
  UDP    [::]:5353              *:*
  UDP    [::]:5353              *:*
  UDP    [::]:5355              *:*
  UDP    [::]:49665             *:*
  UDP    [::]:52286             *:*
  UDP    [::1]:1900             *:*
  UDP    [::1]:3478             *:*
  UDP    [::1]:5349             *:*
  UDP    [::1]:5353             *:*
  UDP    [::1]:49691            *:*
  UDP    [fe80::f1ab:c77f:a0d0:471e%6]:1900  *:*
  UDP    [fe80::f1ab:c77f:a0d0:471e%6]:2177  *:*
  UDP    [fe80::f1ab:c77f:a0d0:471e%6]:49690  *:*

What you see on the client side? What is your ICE agent/Turn client? A browser? Firefox? See about:webrtc  and connection logs

Allocation seems ok, we saw, but after that client close the session the question is why?

If you see only one session you can see that after successfully allocation 
clients close connection with refreshing it with 0 lifetime.
So I would search for the root of the issue on client side..
```
23: session 128000000000000003: realm <mycompany.org> user <>: incoming packet BINDING processed, success
23: session 128000000000000003: realm <mycompany.org> user <>: incoming packet message processed, error 401: Unauthorized
23: session 128000000000000003: new, realm=<mycompany.org>, username=, lifetime=600
23: session 128000000000000003: realm <mycompany.org> user : incoming packet ALLOCATE processed, success
24: session 128000000000000003: refreshed, realm=<mycompany.org>, username=, lifetime=0
24: session 128000000000000003: realm <mycompany.org> user : incoming packet REFRESH processed, success
25: session 128000000000000003: closed (2nd stage), user realm <mycompany.org> origin <>, local 192.168.43.187:3478, remote 192.168.43.187:54818, reason: allocation timeout
25: session 128000000000000003: delete: realm=<mycompany.org>, username=
```

on cliend side im using my phone, and chrome browser, and it have working once before its weird

- See: on a new tab "chrome:webrtc-internals" 
- or try to add debug log options when you start 
- and try to run browser with remote debugging

i open chrome:webrtc-internals and i see a bunch of object, i dont know how to show it to you

if the TCP socked closed then callback, is the server will try connect to UDP?

Maybe there is no issue at all.  
Only ICE agent/ You mobile chrome realize that it can connect using host candidates, and then it cancels the TURN allocation, because it is not needed anymore.

If You control your webrtc app try to force TURN usage for a test. 
add https://w3c.github.io/webrtc-pc/#dom-rtcicetransportpolicy-relay.

yes, i mean, i know its not an issue, coturn is a great open source for turn/stun implementing, but i've been searching for the last 4 days and dont get any ideas why its not working, so i guess the best way is to ask the developer itself, sorry

Is the application open source? If yes which one?

im using RTCMultiConnection its an open source webrtc library, and coTurn

i open trickle ICE and this is the result :


Time | Component | Type | Foundation | Protocol | Address | Port | Priority
-- | -- | -- | -- | -- | -- | -- | --
0.004 | 1 | host | 2143768763 | udp | 192.168.123.38 | 60428 | 126 \| 30 \| 255
0.047 | 1 | srflx | 842163049 | udp | 36.72.116.251 | 60428 | 100 \| 30 \| 255
0.083 | 1 | relay | 3507298388 | udp | 36.72.116.251 | 64829 | 1 \| 30 \| 255
0.106 | Done
0.107



im really have no idea what is wrong

It seems in trickle ice that the turn server works fine.
Are you sure that you need TURN in your network? 
Maybe for the NAT traversal it is enough to use STUN because CONE is the type of your NAT .

so i change my code to this ( remove the turn )

connection.iceServers.push({
  urls: 'stun:my_local_ip:3478'
}); 

and i get this error 

reason: allocation watchdog determined stale session state


Allocation Timeout Error is gone

Do you still have in your config "no-stun" option?

no, i've comment it out and uncomment the stun-only

now i get this log without any error : 

20, sp=1, sb=88
92: session 128000000000000002: closed (2nd stage), user <> realm <dp669.com> origin <>, local 192.168.123.38:3478, remote 192.168.123.38:56098, reason: allocation watchdog determined stale session state
92: session 128000000000000003: usage: realm=<dp669.com>, username=<>, rp=1, rb=20, sp=1, sb=88
92: session 128000000000000003: closed (2nd stage), user <> realm <dp669.com> origin <>, local 192.168.123.38:3478, remote 192.168.123.38:56099, reason: allocation watchdog determined stale session state
99: handle_udp_packet: New UDP endpoint: local addr 192.168.123.38:3478, remote addr 192.168.123.38:56129
99: session 128000000000000004: realm <dp669.com> user <>: incoming packet BINDING processed, success
99: handle_udp_packet: New UDP endpoint: local addr 192.168.123.38:3478, remote addr 192.168.123.38:56130
99: session 128000000000000005: realm <dp669.com> user <>: incoming packet BINDING processed, success
99: handle_udp_packet: New UDP endpoint: local addr 192.168.123.38:3478, remote addr 192.168.123.38:56131
99: session 128000000000000006: realm <dp669.com> user <>: incoming packet BINDING processed, success
109: session 128000000000000004: realm <dp669.com> user <>: incoming packet BINDING processed, success


but my video doesnt showed up, just blank black screen

I have a same problem too but I use WSL and this my log 


wickey@DESKTOP-9195VUB:~/coturn/turnserver-4.5.1.1$ sudo turnserver
0: log file opened: /var/log/turn_3661_2019-05-27.log
0:
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.5 'dan Eider'
0:
Max number of open files/sockets allowed for this process: 65536
0:
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 32500 (approximately)
0:

==== Show him the instruments, Practical Frost: ====

0: TLS supported
0: DTLS supported
0: DTLS 1.2 supported
0: TURN/STUN ALPN supported
0: Third-party authorization (oAuth) supported
0: GCM (AEAD) supported
0: OpenSSL compile-time version: OpenSSL 1.1.0g  2 Nov 2017 (0x1010007f)
0:
0: SQLite supported, default database location is /usr/local/var/db/turndb
0: Redis supported
0: PostgreSQL is not supported
0: MySQL supported
0: MongoDB is not supported
0:
0: Default Net Engine version: 3 (UDP thread per CPU core)

=====================================================

0: Config file found: /home/wickey/coturn/turnserver-4.5.1.1/turnserver.conf
0: Listener address to use: 192.168.123.57
0: Relay address to use: 192.168.123.57
0: Config file found: /home/wickey/coturn/turnserver-4.5.1.1/turnserver.conf
0: Domain name: localdomain
0: Default realm: mycompany.org
0:
CONFIG: WARNING: --server-relay: NON-STANDARD AND DANGEROUS OPTION.
0: Config file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: Config file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: SSL23: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: SSL23: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: TLS1.0: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: TLS1.0: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: TLS1.1: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: TLS1.1: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: TLS1.2: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: TLS1.2: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: TLS cipher suite: DEFAULT
0: DTLS1.2: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: DTLS1.2: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: DTLS: Certificate file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_cert.pem
0: DTLS: Private key file found: /home/wickey/coturn/turnserver-4.5.1.1/turn_server_pkey.pem
0: DTLS cipher suite: DEFAULT
0: pid file created: /var/run/turnserver.pid
0: IO method (main listener thread): epoll (with changelist)
0: WARNING: I cannot support STUN CHANGE_REQUEST functionality because only one IP address is provided
0: Wait for relay ports initialization...
0:   relay 192.168.123.57 initialization...
0:   relay 192.168.123.57 initialization done
0: Relay ports initialization done
0: IO method (general relay thread): epoll (with changelist)
0: turn server id=0 created
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:3478
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:5349
0: IO method (general relay thread): epoll (with changelist)
0: turn server id=1 created
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:3478
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:5349
0: IO method (general relay thread): epoll (with changelist)
0: turn server id=2 created
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:3478
socket: Protocol not supported
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:5349
0: IO method (general relay thread): epoll (with changelist)
0: turn server id=3 created
0: IPv4. DTLS/UDP listener opened on: 192.168.123.57:3478
socket: Protocol not supported
0: IPv4. DTLS/UDP listener opened on: 192.168.123.57:5349
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:3478
socket: Protocol not supported
0: Total General servers: 4
0: IPv4. TLS/TCP listener opened on : 192.168.123.57:5349
0: IO method (auth thread): epoll (with changelist)
0: IO method (auth thread): epoll (with changelist)
0: SQLite DB connection success: /usr/local/var/db/turndb
0: IO method (admin thread): epoll (with changelist)
0: IPv4. CLI listener opened on : 127.0.0.1:5766
2: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:58266
2: session 000000000000000001: realm <mycompany.org> user <>: incoming packet BINDING processed, success
5: session 000000000000000001: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:58266, reason: allocation watchdog determined stale session state
48: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55250
48: session 000000000000000002: realm <dp669.com> user <>: incoming packet BINDING processed, success
48: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55251
48: session 000000000000000003: realm <mycompany.org> user <>: incoming packet BINDING processed, success
48: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55252
48: session 000000000000000004: realm <mycompany.org> user <>: incoming packet BINDING processed, success
51: session 000000000000000002: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55250, reason: allocation watchdog determined stale session state
51: session 000000000000000004: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55252, reason: allocation watchdog determined stale session state
51: session 000000000000000003: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55251, reason: allocation watchdog determined stale session state
58: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55250
58: session 000000000000000005: realm <mycompany.org> user <>: incoming packet BINDING processed, success
61: session 000000000000000005: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55250, reason: allocation watchdog determined stale session state
68: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55250
68: session 000000000000000006: realm <mycompany.org> user <>: incoming packet BINDING processed, success
71: session 000000000000000006: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55250, reason: allocation watchdog determined stale session state
78: handle_udp_packet: New UDP endpoint: local addr 192.168.123.57:3478, remote addr 192.168.123.57:55250
78: session 000000000000000007: realm <mycompany.org> user <>: incoming packet BINDING processed, success
81: session 000000000000000007: closed (2nd stage), user <> realm <mycompany.org> origin <>, local 192.168.123.57:3478, remote 192.168.123.57:55250, reason: allocation watchdog determined stale session state

and this is my turnserver conf

listening-port=3478
tls-listening-port=5349
alt-listening-port=3479
alt-tls-listening-port=5350
listening-ip= 192.168.123.57 
external-ip= 209.97.168.3
min-port=49152
max-port=65535
verbose
fingerprint
lt-cred-mech
user=myusername:mypassword
realm=turn.myRealm.com
stun-only
no-tlsv1
no-tlsv1_1

is this wrong? 
if yes you can you tell me how to install coturn the right way in WSL

Hi, can someone explain about the solution please?

Same, I'm also having this exact problem

Same, I'm also having this exact problem

I had a same problem on chrome. ( but firefox was ok. firefox could find relay candidate. )

I edit /etc/turnserver.conf file to write correct domain name for "realm=_my-domain_"  and restart coturn service.
and now it works on chrome too! 

@ggodool is the realm supposed to be the domain your client is hosted on?

> @ggodool is the realm supposed to be the domain your client is hosted on?

Yes, correct.

Currently having the same issue. Does anyone know more about how to debug this?

I have the same issue, but after restart the host, the problem is solved, What could be the problem?