min-port and max-port doesn't seem to work

I run turnserver this way:

`.\turnserver.exe --min-port 55555 --max-port 55560 -p 10001 -r PixelStreaming -X 127.0.0.1 -E 127.0.0.1 -L 127.0.0.1 --no-cli --no-tls --no-dtls --pidfile "./coturn.pid" -f -a -v -n -u PixelStreamingUser:AnotherTURNintheroad`


But it still allocates ports in the default range which is 49152 to 65535.

<img width="483" alt="image" src="https://github.com/coturn/coturn/assets/15322450/b0e2755b-c45a-474a-8b82-ae634f9218e3">

This is the turnserver's log, I also didn't see anything related to port range:

```
0: : log file opened: turn_1211_2023-09-27.log
0: : Relay address to use: 127.0.0.1
0: : Listener address to use: 127.0.0.1
0: : 
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.2 'dan Eider'
0: : 
Max number of open files/sockets allowed for this process: 3200
0: : 
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 1000 (approximately)
0: : 

==== Show him the instruments, Practical Frost: ====

0: : TLS supported
0: : DTLS supported
0: : DTLS 1.2 supported
0: : TURN/STUN ALPN supported
0: : Third-party authorization (oAuth) supported
0: : GCM (AEAD) supported
0: : OpenSSL compile-time version: OpenSSL 1.1.1f  31 Mar 2020 (0x1010106f)
0: : 
0: : SQLite is not supported
0: : Redis is not supported
0: : PostgreSQL is not supported
0: : MySQL is not supported
0: : MongoDB is not supported
0: : 
0: : Default Net Engine version: 2 (UDP thread per network endpoint)

=====================================================

0: : Domain name: 
0: : Default realm: PixelStreaming
0: : pid file created: ./coturn.pid
0: : IO method (main listener thread): poll
0: : IPv4: On this platform, I am using alternative behavior of TTL according to RFC 5766.
0: : IPv6: On this platform, I am using alternative behavior of TTL (HOPLIMIT) according to RFC 6156.
0: : IPv4: On this platform, I am using alternative behavior of TOS according to RFC 5766.
0: : WARNING: I cannot support STUN CHANGE_REQUEST functionality because only one IP address is provided
0: : Wait for relay ports initialization...
0: :   relay 127.0.0.1 initialization...
0: :   relay 127.0.0.1 initialization done
0: : Relay ports initialization done
0: : IO method (general relay thread): poll
0: : turn server id=0 created
0: : IO method (general relay thread): poll
0: : turn server id=1 created
0: : IO method (general relay thread): poll
0: : turn server id=2 created
0: : IO method (general relay thread): poll
0: : turn server id=3 created
0: : IO method (general relay thread): poll
0: : turn server id=4 created
0: : IO method (general relay thread): poll
0: : turn server id=5 created
0: : IO method (general relay thread): poll
0: : turn server id=6 created
0: : IO method (general relay thread): poll
0: : turn server id=7 created
0: : IO method (general relay thread): poll
0: : turn server id=8 created
0: : IO method (general relay thread): poll
0: : turn server id=9 created
0: : IO method (general relay thread): poll
0: : turn server id=10 created
0: : IO method (general relay thread): poll
0: : turn server id=11 created
0: : IO method (general relay thread): poll
0: : turn server id=12 created
0: : IO method (general relay thread): poll
0: : turn server id=13 created
0: : IO method (general relay thread): poll
0: : turn server id=14 created
0: : IO method (general relay thread): poll
0: : turn server id=15 created
0: : IO method (general relay thread): poll
0: : turn server id=16 created
0: : IO method (general relay thread): poll
0: : turn server id=17 created
0: : IO method (general relay thread): poll
0: : turn server id=18 created
0: : IO method (udp listener/relay thread): poll
0: : IO method (general relay thread): poll
0: : turn server id=19 created
0: : turn server id=128 created
0: : create_server_socket:751:start
0: : IPv4. UDP listener opened on: 127.0.0.1:10001
0: : create_server_socket:813:end
0: : create_server_listener:197:start
0: : IPv4. TCP listener opened on : 127.0.0.1:10001
0: : create_server_listener:255:end
0: : Total UDP servers: 1
0: : Total General servers: 20
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (auth thread): poll
0: : IO method (admin thread): poll
0: : run_listener_server: cycle=1
0: : server_input_handler:74:start
0: : IPv4. tcp or tls connected to: 127.0.0.1:54165
0: : server_input_handler:123:end
0: : open_client_connection_session:4713:start
0: : open_client_connection_session:4747:end
0: : session 017000000000000001: TCP socket closed remotely 127.0.0.1:54165
0: : shutdown_client_connection:4161:start
0: : session 017000000000000001: usage: realm=<PixelStreaming>, username=<>, rp=0, rb=0, sp=0, sb=0
0: : session 017000000000000001: peer usage: realm=<PixelStreaming>, username=<>, rp=0, rb=0, sp=0, sb=0
0: : closing session 0x800109420, client socket 0x8001089a0 (socket session=0x800109420)
0: : session 017000000000000001: closed (2nd stage), user <> realm <PixelStreaming> origin <>, local 127.0.0.1:10001, remote 127.0.0.1:54165, reason: TCP connection closed by client (callback)
0: : shutdown_client_connection:4226:end

12: : udp_server_input_handler:628:start
12: : open_client_connection_session:4713:start
12: : read_client_connection:4497:start
12: : read_client_connection: data.buffer=0x80010e8cc, data.len=20
12: : handle_turn_binding:2761:start
12: : handle_turn_binding:2948:end
12: : session 128000000000000001: realm <PixelStreaming> user <>: incoming packet BINDING processed, success
12: : write_client_connection:4281:start
12: : write_client_connection: prepare to write to s 0x800105170
12: : write_client_connection:4304:end
12: : read_client_connection:4603:end
12: : open_client_connection_session:4747:end
12: : udp_server_input_handler:666:end

22: : udp_server_input_handler:628:start
22: : read_client_connection:4497:start
22: : read_client_connection: data.buffer=0x80010e8cc, data.len=20
22: : handle_turn_binding:2761:start
22: : handle_turn_binding:2948:end
22: : session 128000000000000001: realm <PixelStreaming> user <>: incoming packet BINDING processed, success
22: : write_client_connection:4281:start
22: : write_client_connection: prepare to write to s 0x800105170
22: : write_client_connection:4304:end
22: : read_client_connection:4603:end
22: : udp_server_input_handler:666:end

32: : udp_server_input_handler:628:start
32: : read_client_connection:4497:start
32: : read_client_connection: data.buffer=0x80010e8cc, data.len=20
32: : handle_turn_binding:2761:start
32: : handle_turn_binding:2948:end
32: : session 128000000000000001: realm <PixelStreaming> user <>: incoming packet BINDING processed, success
32: : write_client_connection:4281:start
32: : write_client_connection: prepare to write to s 0x800105170
32: : write_client_connection:4304:end
32: : read_client_connection:4603:end
32: : udp_server_input_handler:666:end

42: : udp_server_input_handler:628:start
42: : read_client_connection:4497:start
42: : read_client_connection: data.buffer=0x80010e8cc, data.len=20
42: : handle_turn_binding:2761:start
42: : handle_turn_binding:2948:end
42: : session 128000000000000001: realm <PixelStreaming> user <>: incoming packet BINDING processed, success
42: : write_client_connection:4281:start
42: : write_client_connection: prepare to write to s 0x800105170
42: : write_client_connection:4304:end
42: : read_client_connection:4603:end
42: : udp_server_input_handler:666:end
```


Did i do something wrong?

I even tried to set min-port > max-port, and see if there will be any errors showing in the log, but there's nothing and everything still work.