tcp_peer_accept_connection: cannot set TCP peer data input callback

With some frequency when a peer tries to connect to an allocated port the peer gets a connection reset and I see this in the coturn log

3118: IPv4. tcp accepted from: 64.99.230.16:50771
3118: tcp_peer_accept_connection: cannot set TCP peer data input callback

Typically the peer might have to try connecting a couple more times before getting a connection. 

Can anybody shed some light on the meaning of this error message and how I might prevent it from happening. 

Which version do you run in which OS, env, ssl version? 
(If you do not use the latest code then try to upgrade.)

Do you have a tcpdump about the issue? Which socket type do you use TCP or TLS?
AFAIU this registers the socket with a call back function on the async io event handler engine.

It will help a lot if you can try to debug which line of the `register_callback_on_ioa_socket` function returns -1?

After further investigation we think that the issue is in ns_ioalib_engine_impl.c, function `register_callback_on_ioa_socket`, the following code:
```
#if TLS_SUPPORTED
						if(check_tentative_tls(s->fd)) {
							s->tobeclosed = 1;
							return -1;
						}
#endif
```

If we comment out this code, everything seems to be working.

The context is a peer setting up a TCP connection to a relayed transport address ([RFC 6062, section 4.4](https://tools.ietf.org/html/rfc6062#section-4.4)).  It just so happens that what will be happening on that TCP connection is in fact TLS, but that shouldn't matter.

My wild guess would be that this code is meant to reject attempts to use TURN-over-TLS to connect to a plain TURN port?  But that shouldn't matter for peer connections to a relayed transport address.

Which TLS version do you use? Maybe TLS 1.3 is causing the issue?

@tupelo-schneck  Can you please help how did you tested it. How can I reproduce it? Thanks!

I just put substantial descriptive details in pull request #643.  I hope that has enough information.

A minimal reproduction is a bit tricky, as I need an RFC6062-capable TURN client which can send Allocate and CreatePermission requests to coturn, wait for a ConnectionAttempt indication *from* coturn, and then send a ConnectionBind request on a *new* connection to coturn.  If you really need to see it in action, do you happen to know any simple scriptable TURN client that can do those things?